<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="HMTS2" connectionString="ZmKxiepVWKZi3X+B7zDxZVNiSSckFPtpqUWwD0fzrbe7rQNTtt73Tu29f55JZX3rQWWsnTDeGnuHpRiwEA9jfb/IdMCRlptv" />
    <add name="XRF_FA.Properties.Settings.ConnectionString" connectionString="Provider=MSDAORA;Data Source=hmts2;Persist Security Info=True;Password=hmts2;User ID=hmts2"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
